* {
   box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body {
   font-family: 'Lato', sans-serif;
}

.contenedor {
   max-width: 1200px;
   margin: 0 auto;
}

/* HEADER */
.site-header.home {
   background-image: url(../img/header.jpg);
   background-position: center center;
   background-size: cover;
   height: 100vh;
   min-height: 600px;
}

.barra {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 30px;
}

/* NAVEGACION */

.navegacion a {
   color: #fff;
   /* color: rgba(255, 255, 255, alpha channel, transparencia, de 0 a 1 ej.: .3); */
   text-decoration: none;
   font-size: 18px;
   margin-right: 20px;
}
.navegacion a:last-of-type {
   margin-right: 0;
}
.navegacion a:hover {
   color: #D8D8D8;
}
